*{
    box-sizing: border-box;  
}

/* Diseno de etiquetas */

body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

h1{
    color: white;
}

h2{
    color: white;
}

a{
    text-align: center;
    color: white;
    padding: 0px 19px;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

nav picture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
}

img{
    width: 500px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

li{
    display: inline;
    font-size: 23px;
    border-top-right-radius: 1cm;
    border-end-start-radius: 1cm;
    background-color: #43136d;
    font-family: 'Century Gothic';
}

li:hover {
    background-color: #6d4e88;
    color: #43136d;
}

button:hover{
    background-color: #6d4e88;
    color: #43136d;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    color: white;
    text-align: center;
    background-color:  #340f55;
}

/* Diseno con ID */

#contenedor{
    width: 90%;
    background-color: #dabcf5;
}

#encabesado{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #340f55;
    text-align: center;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background-color: #602396;
    margin: center;
}

#contenedorTexto{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 2%;
}

#contenedorTextoFormu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

#contenedorPequeno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    background-color: #9b7cb6;
}

#encabesadoPequeno{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: #340f55;
    text-align: center;
}

#pPro{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

button{
    border-top-right-radius: 1cm;
    border-end-start-radius: 1cm;
    background-color: #43136d;
    color: white;
    font-family: 'Century Gothic';
    margin: 2%;
}

#imgen{
    width: 50%;
}

#imgTitulo{
    width: 90%;
}

#imgEncabesado{
    width: 60%;
}

#imgPro{
    padding: 20px;
    width: 300px;
    height: 300px;
}