*{
    box-sizing: border-box;  
}

body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background-color: #602396;
    margin: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#imgEncabesado{
    width: 27%;
}

#imgTitulo{
    background-image: url(/img/Parte\ de\ arriba.png);
}

.ImagenMenu{
    width: 20%;
    margin-left: 25px;
}